:host {
  display: block;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh; /* ocupa toda la pantalla */
}

.ver{
  margin-top: auto; /* empuja hacia abajo */
  padding: 1rem;
  font-size: 0.8rem;
  opacity: 0.7;
  text-align: center;
}
.full-height {
  display: flex;
  flex-direction: column; /* ← ahora sí permite cosas abajo */
  height: 100vh;
}
